# Rust build artifacts
/target/

# IDE files
.vscode/
.idea/
*.iml

# OS specific files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# Release artifacts
*.zip
*.tar.gz

icon.ico
icon.png